@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>نتیجه ثبت نام</title>
    <link href="~/Content/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme-rtl.css" rel="stylesheet" />
    <link href="~/Styles/main.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="margin-top:60px;">
        <div class="alert alert-info" style="min-height:300px;">
            @TempData["Message"]
        </div>
    </div>
    <script src="~/Scripts/jquery-1.12.4.js"></script>
</body>
</html>
